@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark-pink: #ba4270;
  --white: #fbfcfe;
  --medium-blue: #36536b;
  --dark-blue: #1b262f;
  --light-blue: #6c8294;
  --light-pink: #da6d97;
  font-size: 62.5%;
  --dmfont: "DM Serif Display", serif;
  --sans-font: "Public Sans", sans-serif;
}

h1, h4, h4.small, h3, h3.small, h2, h2.small, h1.small {
  font-family: var(--dmfont);
  font-size: clamp(3.2rem, 1rem + 5vw ,7.2rem);
  color: var(--medium-blue);
  line-height: clamp(3.6rem, 1.75rem + 5vw ,7.2rem);
  letter-spacing: clamp(0.025rem, 0.0485vw, 0.055rem);
}

h1.small, h4.small, h3.small, h2.small {
  font-size: clamp(3.2rem, 1rem + 5vw , 5.6rem);
  line-height: clamp(3.6rem, 1.75rem + 5vw , 5.6rem);
  letter-spacing: clamp(0.025rem, 0.0485vw, 0.055rem);
}

h2 {
  font-size: clamp(3.2rem, 1rem + 5vw , 4.8rem);
  line-height: clamp(3.6rem, 1.75rem + 5vw , 5.6rem);
  letter-spacing: clamp(-0.025rem, -0.0685vw, -0.037rem);
}

h3, h3.small {
  font-size: clamp(2.4rem, 0.8rem + 2vw , 3.2rem);
  line-height: clamp(3.2rem, 1.75rem + 5vw , 4rem);
  letter-spacing: clamp(-0.018rem, -0.018rem + -0.0985vw, -0.025rem);
}

h3.small {
  font-family: var(--sans-font);
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: -0.014rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.018rem;
}

p {
  font-family: var(--sans-font);
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.012rem;
}

:root, * {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1,
h1.small,
h2.small,
h3.small,
h4.small, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  border: none;
  background: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  cursor: pointer;
  height: 4.8rem;
  min-width: 12.9rem;
  font-size: 1.5rem;
  padding: 1.6rem 2.6rem;
  font-family: var(--sans-font);
  font-weight: 600;
  border-radius: 2.4rem;
}

button:disabled {
  opacity: 50%;
}

button:not(.primary) {
  padding: 1.6rem 3.2rem;
}

button.primary {
  background: var(--dark-pink);
  color: var(--white);
  width: 100%;
  max-width: 32.7rem;
}
@media screen and (min-width: 768px) {
  button.primary {
    width: 17.3rem;
  }
}

button.primary:hover:not(:disabled) {
  background: var(--light-pink);
}

button.secondary.light {
  background: var(--dark-blue);
  color: var(--white);
  border: 1px solid var(--white);
  width: 12.9rem;
}

button.secondary.light:hover:not(:disabled) {
  background: var(--white);
  color: var(--dark-blue);
  font-weight: 700;
}

button.secondary.dark {
  background: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  width: 16.8rem;
}

button.secondary.dark:hover:not(:disabled) {
  background: var(--medium-blue);
  color: var(--white);
  font-weight: 700;
}

button.test {
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
